section.section-seo-blue
        .container.u-padding
            .seo-wrapper
                .about
                    h1.title.u-title SEO продвижение на Тильде 
                    ul.list.u-dots
                        li.item оптимизируем сайт на Тильде для поисковиков
                        li.item работаем с системой управления — технически готовим страницы для поисковых систем, чтобы им было проще находить и анализировать сайт
                        li.item лучшаем контент — делаем страницу удобной, полезной и интересной, чтобы посетителям сайта было легко найти нужную информацию
                    .button.button-white
                        button.btn#popup-btn ОСТАВИТЬ ЗАЯВКУ
                .image-box
                 img.image#show-up-image(src="./static/images/content/seo.png", alt="")
            .seo-tariff
                h1.title.u-title Тарифы
                h2.subtitle От 15 000
                p.text.u-text Цена будет уточнена в ходе знакомства с вашей задачей и определением объема работа. <br> Оставьте заявку, и мы подготовим для вас персональный план.