section.section-building-process
    h2.title.u-title Процесс создания 
    .building-steps
        .step
            img.image#show-up-image(src="./static/images/svg/2.svg", alt="")
            .subtitle.u-title-blue Анализируем ваш бизнес
        .step
            img.image#show-up-image(src="./static/images/svg/3.svg", alt="")
            .subtitle.u-title-blue.arrows Создаем структуру сайта
        .step
            img.image#show-up-image(src="./static/images/svg/1.svg", alt="")
            .subtitle.u-title-blue Приступаем к разработке сайта
    p.text.u-text После запуска сайта, для охвата большего количества потенциальных клиентов, рекомендуем использовать сайт в связке с <a class="u-link" href="http://" >контекстной рекламой</a> и продвижением в социальных сетях.