section.section-clients.u-padding 
    h1.title.u-title Клиенты
    .clients
        img.logo(src="./static/images/content/rostech_academy.png", alt="")
        img.logo(src="./static/images/content/jet.png", alt="")
        img.logo(src="./static/images/content/rosbank_logo.png", alt="")
        img.logo(src="./static/images/content/hse_inc.png", alt="")
        img.logo(src="./static/images/content/skill_factory.png", alt="")
        img.logo(src="./static/images/content/ranhigs.png", alt="")
    