section.section-forwhom
    .animate-box#lol
        .animatedT
            img.image(src="./static/images/svg/t.svg", alt="")
        .info-box 
            h3.title Мы делаем лендинги и небольшие сайты до 5 страниц на Tilda Publishing
            p.subtitle.u-text Удобные, продуманные и с уникальным дизайном. Работаем с Тильдой с 2017 года.
    .approach
        h2.title.u-title Кому подойдет
        .description-wrapper
            .description
                img.image#show-up-image(src="./static/images/svg/cirle_w.svg", alt="")
                h3.title.u-title-blue Стартапам, ИТ и компаниям, выпускающим новый продукт
                p.text.u-text Неважно есть ли уже у вас новый продукт или вы только хотите презентовать свои идеи, давайте сделаем сайт и расскажем об этом!
            .description
                img.image#show-up-image(src="./static/images/svg/polygon_w.svg", alt="")
                h3.title.u-title-blue Образовательным компаниям 
                p.text.u-text Анонсируем ваше мероприятие, зарегистрируем участников и подключим платежную систему. Можем сделать закрытые личные кабинеты.
            .description
                img.image#show-up-image(src="./static/images/svg/square_w.svg", alt="")
                h3.title.u-title-blue Жилым комплексам 
                p.text.u-text До старта продаж сделаем сайт на Тильде для ознакомления с жилым комплексом или новостройкой. <br> Закажите разработку сайта <br> и настройте на него рекламу.
            .description
                img.image#show-up-image(src="./static/images/svg/sota_w.svg", alt="")
                h3.title.u-title-blue Крупным агентствам 
                p.text.u-text Мы находимся в регионе, наши тарифы ниже столичных, а качество на уровне и постоянно стремится к ТОПу рейтингов. Готовы к сложным проектам, к NDA, и к работе в выходные.
