section.section-hero
    .hero
        .info
            h1.title WAVE — студия <br> по созданию удобных <br> и продуманных сайтов <br> на Тильде
            .subtitle Помогаем
                ul.list.u-dots
                    li.item компаниям, которые стремятся быть <br> полезными для человечества
                    li.item крупным ИТ компаниям и стартапам 
                    li.item агентствам — работаем как субподрядчик
            .button.button-white
                button.btn#popup-btn ОСТАВИТЬ ЗАЯВКУ
        .inter
            img.bg-img(src="./static/images/svg/wave5.svg", alt="")
