section.section-order-reasons
    h2.title.u-title 4 причины заказать у нас сайт
    .wrapper
        .block
            .inner
                img.image#show-up-image(src="./static/images/svg/1_w.svg", alt="")
                h3.subtitle.u-title-blue Делаем уникальный дизайн
            p.text.u-text Заботимся о гармонии между контентом, текстом и свободным пространством. Чтобы поддерживать профессионализм на высоком уровне мы стремимся постоянно улучшать навыки, посещаем дизайн форумы и конспектируем лекции.
        .block
            .inner
                img.image#show-up-image(src="./static/images/svg/2_w.svg", alt="")
                h3.subtitle.u-title-blue Пишем понятный текст
            p.text.u-text Сами пишем и редактируем текст. Упрощаем предложения, чтобы легче находить нужную информацию. Продумываем заголовки и подзаголовки, чтобы последовательность помогала не только людям, но и SEO продвижению.
        .block
            .inner
                img.image#show-up-image(src="./static/images/svg/3_w.svg", alt="")
                h3.subtitle.u-title-blue Для мобильных устройств
            p.text.u-text У вас будет адаптивная версия сайта — комфортный просмотр страниц на планшетах и телефонах. Это важно — более 50% пользователей предпочитают выходить в интернет с мобильного устройства, а не компьютера.
        .block
            .inner
                img.image#show-up-image(src="./static/images/svg/4_w.svg", alt="")
                h3.subtitle.u-title-blue Преимущество — скорость
            p.text.u-text Есть ограничения по времени? Мы с пониманием и заботой относимся к таким условиям. Готовы к изменениям и быстро адаптируемся. И да, можем работать на праздники.
    .button.button-white#popup-btn
            button.btn ОСТАВИТЬ ЗАЯВКУ
