section.section-portfolio
    h2.title.u-title Портфолио
    .portfolio
        .wrapper
            .item.item-one
                a.link(href="")
                    .hover
                        img.hover-image(src="./static/images/svg/aqua_logo.svg", alt="")
                        h3.description ЖК «Акватория»
        .wrapper
            .item.item-two
                a.link(href="")
                    .hover
                        img.hover-image(src="./static/images/svg/ylabs_logo.svg", alt="")
                        h3.description Youth laboratories
        .wrapper
            .item.item-three
                a.link(href="")
                    .hover
                        img.hover-image(src="./static/images/svg/cio_logo.svg", alt="")
                        h3.description Cio On Demand
        .wrapper
            .item.item-four
                a.link(href="")
                    .hover
                        img.hover-image(src="./static/images/svg/jet.svg", alt="")
                        h3.description DATA LAKE И BIG DATA
        .wrapper
            .item.item-five
                a.link(href="")
                    .hover
                        img.hover-image(src="./static/images/svg/logo_barometr.svg", alt="")
                        h3.description Исследование российского рынка технологического предпринимательства 
        .wrapper
            .item.item-six
                a.link(href="")
                    .hover
                        img.hover-image(src="./static/images/svg/logo_skillfactory.svg", alt="")
                        h3.description Вопросы о Data Science
        .wrapper
            .item.item-seven
                a.link(href="")
                    .hover
                        img.hover-image(src="./static/images/svg/80_88_logo.svg", alt="")
                        h3.description Архитектурное бюро «80/88» основано в Москве в 2016 году.
        .wrapper
            .item.item-eight
                a.link(href="")
                    .hover
                        img.hover-image(src="./static/images/svg/logo_white2.svg", alt="")
                        h3.description Эргономичный бассейн с системой самоотчистки, покрытием от мусора
    .button.button-blue.u-margin-btn#all-works-btn
        a(href="#").btn Все работы