section.section-qa
    .container
        h3.title.u-title  Вопрос - ответ 
        .accordion
            .wrapper#wrapper
                button.accordion-button 
                    .subtitle Что такое конструктор Тильда (Tilda Publishing)?
                    svg.icon(width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square")
                            g(transform="translate(1.000000, 1.000000)" stroke="#ffffff")
                                path(d="M0,11 L22,11") 
                                path(d="M11,0 L11,22")
                .panel
                    p.text.u-text Это интуитивно понятный конструктор для создания сайта. Если раньше нужен был программист, верстальщик и несколько месяцев разработок, то с помощью Тильды все можно сделать самому и за несколько дней. Просто выбираешь какие блоки нужны и наполняешь их своим контентом.
            .wrapper#wrapper
                button.accordion-button 
                    .subtitle Зачем платить веб-студии, если можно сделать сайт на Тильде самому?
                    svg.icon(width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square")
                            g(transform="translate(1.000000, 1.000000)" stroke="#ffffff")
                                path(d="M0,11 L22,11") 
                                path(d="M11,0 L11,22")
                .panel
                    p.text.u-text Чтобы сайт был уникальным, эстетически привлекательным и интуитивно понятным. Для студии разработка сайта это основной бизнес-процесс. Отдавая на аутсорсинг это направление, вы снижаете риски по переделке и повышаете качество сайта.
            .wrapper#wrapper
                button.accordion-button 
                    .subtitle Как мне самостоятельно сделать уникальный дизайн?
                    svg.icon(width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square")
                            g(transform="translate(1.000000, 1.000000)" stroke="#ffffff")
                                path(d="M0,11 L22,11") 
                                path(d="M11,0 L11,22")
                .panel
                    p.text.u-text Используйте Zero Block. В Tilda есть профессиональный редактор для создания собственного дизайна блоков. Еще подпишитесь на наш <a href="http://">YouTube-канал</a>, там мы подробно показываем как работать в зеро-блоке.
            .wrapper#wrapper
                button.accordion-button 
                    .subtitle Какой срок разработки сайта на Тильде?
                    svg.icon(width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square")
                            g(transform="translate(1.000000, 1.000000)" stroke="#ffffff")
                                path(d="M0,11 L22,11") 
                                path(d="M11,0 L11,22")
                .panel
                    p.text.u-text В среднем для сайта из трех страниц, это 20 рабочих дней. Длительность проекта зависит от масштабов, сложности и наличия контента.
            .wrapper#wrapper
                button.accordion-button 
                    .subtitle Правда, что у сайтов разработанных на конструкторе плохо с SEO?
                    svg.icon(width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square")
                            g(transform="translate(1.000000, 1.000000)" stroke="#ffffff")
                                path(d="M0,11 L22,11") 
                                path(d="M11,0 L11,22")
                .panel
                    p.text.u-text ЧВ 2020 году это уже не так. Новый сайт на Тильде может оказаться наверху в поиске, при условии, что он лучше других отвечает на вопросы людей. Сайты на Тильде отлично индексирутся поисковиками за счет последовательности блоков на странице.
            .wrapper#wrapper
                button.accordion-button 
                    .subtitle Сколько стоит сайт на Тильде?
                    svg.icon(width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square")
                            g(transform="translate(1.000000, 1.000000)" stroke="#ffffff")
                                path(d="M0,11 L22,11") 
                                path(d="M11,0 L11,22")
                .panel
                    p.text.u-text Tilda для одного сайта на вашем домене стоит 6000 рублей за год. В среднем цены на услуги студий по созданию сайта на Тильде начинается от 50 000 рублей.
            .wrapper#wrapper
                button.accordion-button 
                    .subtitle Как можно ускорить процесс создания сайта?
                    svg.icon(width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square")
                            g(transform="translate(1.000000, 1.000000)" stroke="#ffffff")
                                path(d="M0,11 L22,11") 
                                path(d="M11,0 L11,22")
                .panel
                    p.text.u-text Мы можем оптимизировать план по проекту и выполнять часть работ параллельно и вне рабочего времени. Вы тоже можете помочь ускорить процесс: заранее найдите примеры контента, текстов, которые вам нравятся / не нравятся; опишите простыми словами, но развернуто ваши цели, зачем вам нужен сайт; расскажите подробно о ваших преимуществах перед конкурентами.

