section.section-recommendation
    .wrapper
        .about
            h2.title.u-title  Тильда нас <br> рекомендует
            p.text.u-text Tilda Publishing рекомендует нашу студию на главной странице каталога экспертов. <br> Каждый сайт мы стремимся сделать максимально качественным — уникальным, удобным и аккуратным.
            a.link(href="") ПОДРОБНЕЕ >
        .image-wrapper#show-up-image
            img.image(src="./static/images/content/tilda_experts.png", alt="")
            img.image-abs(src="./static/images/svg/i.svg", alt="")