section.section-tariffs.u-padding.container
    p.text  Кроме простого стремления к финансовой свободе, мы хотим, чтобы наши сайты были полезные и интересные,как  нашему заказчику, так и его клиентам.
    .tariffs 
        h2.tariffs-title.u-title Тарифы
        .tariffs-wrapper
            .tariff 
                h3.title.u-title-blue Landing-page
                .description.u-text
                    p.subtitle 1 страница 
                    ul.list.u-dots
                        li.item Создание структуры  сайта
                        li.item Оригинальный фавикон 
                        li.item Адаптивная верстка 
                        li.item Форма обратной связи 
                        li.item До 8 экранов (блоков)
                .price 69 000
            .tariff 
                h3.title.u-title-blue Корпоративный
                .description.u-text
                    p.subtitle До 10 страниц 
                    ul.list.u-dots
                        li.item Тоже что в «Старт» 
                        li.item Установка аналитики
                        li.item Подключение Яндекс      Вебмастер и Google Search       Console 
                .price 99 000
            .tariff 
                h3.title.u-title-blue Эксклюзивный
                .description.u-text
                    p.subtitle Функционал, количество  страниц, структура, контент,     настройка рекламы  оговариваются     отдельно
                .price от 149 000
        .button.button-blue.u-margin-btn
            button.btn ОСТАВИТЬ ЗАЯВКУ
        p.subtext Подписка <a  class=""    href="#">  Tilda Publishing </a> в стоимость не входит