section.section-youtube 
    h2.title.u-title YouTube
    p.text.u-text У нас есть свой канал, где мы публикуем видеоуроки и делимся секретами по созданию сайтов на Tilda
    .videos
        .video
            <iframe src="https://www.youtube.com/embed/I5seidWOG0o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .video
            <iframe src="https://www.youtube.com/embed/rJYHs4hJzYM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    .button.button-blue.u-margin-center
                button.btn Подписаться