.section-youtube {
  margin-top: 10rem;
  padding: 0 2rem;

  .text {
    max-width: 55rem;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
  }

  .videos {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 8rem;
    @include respond(tab-port) {
      padding: 0;
    }

    .video {
      flex: 1;
      margin-bottom: 3rem;

      &:first-child {
        margin-right: 1rem;
        @include respond(tab-port) {
          margin-right: 0;
        }
      }

      iframe {
        min-width: 45rem;
        min-height: 31.5rem;
        width: 95%;
        @include respond(tab-port) {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
