.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 3px;
  z-index: 2;
  border: none;
  background-color: $main-color;
}
.progress-bar::-webkit-progress-bar {
  background: transparent;
}
.progress-bar::-webkit-progress-value {
  background: linear-gradient(
    to left,
    #db38b5,
    #01b3e3,
    #25ce7b,
    #fdc741,
    #ff6b01,
    #fc4236
  );
  background-attachment: fixed;
}
.progress-bar::-moz-progress-bar {
  background: linear-gradient(
    to left,
    #db38b5,
    #01b3e3,
    #25ce7b,
    #fdc741,
    #ff6b01,
    #fc4236
  );
  background-attachment: fixed;
}
