mixin icon(name,section)
	if(section)
		svg(class="svg-sprite-icon" + ' ' + section + '-' + name)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)
