footer.footer
    .container
        .top
            .logo
                img.logo(src="static/images/svg/logo.svg", alt="")
            .contact
                a.email(href="") hello@we-wave.ru
                a.phone(href="")  +7 960 47 35 755
            .requisites
                .item ООО «СТУДИЯ ВЭЙВ» 
                .item ИНН: 2315999100 
                .item КПП: 231501001 
            .address Новороссийск, <br> Куникова 38/40
            .button.button-blue
                    button.btn#popup-btn ОСТАВИТЬ ЗАЯВКУ
        .bottom
            a.privacy(href="") Политика конфиденциальности
            p.copyright  Copyright © 2017-2020 Все права защищены
