doctype html
html(lang="en")
    block head
        head
            meta(charset="utf-8")
            title Title your site
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            //- Main styles
            link(rel="stylesheet" href="static/css/styles.min.css")
            //- Main styles

    body
        block header
            include header
        block content
        block footer
            include footer

        block scripts
            //- Main scripts
            script(src='static/js/main.js')
            //- Main scripts

