.popup-wrapper
    .popup
        h3.title Ответим в течение 24 часов
        form.form
            input.name(type="text" placeholder="Имя")
            input.email(type="email" placeholder="E-mail")
            input.phone(type="phone" placeholder="Номер телефона")
            button.form-btn(type="submit") ОТПРАВИТЬ
            p.politics Нажимаю на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с <a href="http://">политика конфиденциальности</a>